body {
    font-family: Comic Sans MS, serif;
}
/*================ TopBar ================*/
.navbar {
    position: fixed;
    color: white;
    top: 0;
    width: 100%;
    z-index:1;
}
.navbar a{
    color: inherit;
}
.navbar a:hover {
    text-decoration: underline;
    text-decoration-color: #ffd52d;
}
.navbar-brand{
    text-align: left;
    margin-right: 50px;
}
.navbar-nav{
    margin-right: 30px;
}

/*================ Left SideBar ================*/
ul, li {
    list-style: none;
}
.sidebar {
    height: 100%;
    width: 200px;
    margin-top: 56px;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 200px;
    margin-top: 56px;
    z-index: 999;
    background-color: tomato;
    transition: all 0.3s;
}
.sidebar a {
    color: white;
    padding-bottom: 8px;
}
.sidebar a:hover {
    color: rgb(48, 111, 219);
    text-decoration: none;
}
.sidebar-title {
    font-size: 25px;
}
.bottom-sidebar {
    margin-top: 260px;
    padding-left: 10px;
    text-align: left;
    color: white;
}

/*================ Right SideBar ================*/
.xp-vertical {
    background-color: white;
    height: auto;
}
.xp-rightbar {
    overflow: hidden;
    min-height: 500px;
    margin-top: -80px;
    transition: all 0.3s ease;
}
.xp-contentbar {
    padding: 30px;
    margin-top: 60px;
}
.content {
    margin-left: 240px;
}
.right-content{
    height: 100%;
    background-color: rgba(49,248,111,0.04) ;
    padding-top: 55px;
    padding-left: 201px;
    font-family: sans-serif;
}


/*================ Right Content ================*/
.recipes-form {
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
}
.container{
    margin: 30px;
}
.row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.image{
    background: #50A7FF;
    position: relative;
    flex: 2;
    max-width: 460px;
    height: 300px;
    margin: 20px;
    overflow: hidden;
}
.image img{
    display: block;
    width:  100%;
    height: 100%;
    opacity: 0.8;
    position: relative;
    vertical-align: top;
    transition: 0.6s;
    transition-property: opacity;
}
.image:hover img{
    opacity: 1;
}
.more{
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    bottom: -60px;
    transition: 0.6s;
    transition-property: bottom;
}
.image:hover .more{
    bottom: 0;
}
.more .read-more{
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.more .read-more span{
    font-weight: 900;
}
.more .icon-links i{
    color: #000;
    font-size: 20px;
}
.more .icon-links a:not(:last-child) i{
    margin-right: 20px;
}

/* Responsive CSS */
@media (max-width: 1080px){
    .image{
        flex: 100%;
        max-width: 480px;
    }
}
@media (max-width: 400px){
    .image .details p{
        font-size: 16px;
    }
    .more .read-more, .more .icon-links a i{
        font-size: 18px;
    }
}


/*
.recipe-img{
    display: block;
    width:  100%;
    height: 100%;
}
.wrapper{
    width: 100%;
    margin: 20px auto;
}
.cards_wrap{
    display: flex;
    flex-wrap: wrap;
}
.card_item{
    background: #fff;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.cards_wrap .card_item{
    width: 25%;
}
.cards_wrap .card_inner{
    background: #fff;
}
.cards_wrap .card_top {
    width: 100%;
    height: 300px;
    padding-bottom: 0;
}
.cards_wrap .card_bottom{
    padding-bottom: 5px;
    text-align: center;
}
.cards_wrap .card_bottom .card_title{
    text-transform: uppercase;
    text-align: center;
}
.cards_wrap .card_bottom .card_info{
    padding: 14px;
    margin: 10px 0;
}
.cards_wrap .card_bottom .card_info .title{
    color: #0071bc;
    font-size: 18px;
    margin-bottom: 5px;
}
.cards_wrap .card_bottom{
    text-align: center;
}
@media (max-width: 1024px) {
    .cards_wrap .card_item {
        width: 33.3%;
    }
}
@media (max-width: 768px) {
    .cards_wrap .card_item {
        width: 50%;
    }
}
@media (max-width: 528px) {
    .cards_wrap .card_top {
        height: auto;
    }
    .cards_wrap .card_item {
        width: 100%;
    }
}*/
