body {
    font-family: Comic Sans MS, serif;
}
/*================ TopBar ================*/
.navbar {
    position: fixed;
    color: white;
    top: 0;
    width: 100%;
    z-index:1;
}
.navbar a{
    color: inherit;
}
.navbar a:hover {
    text-decoration: underline;
    text-decoration-color: #ffd52d;
}
.navbar-brand{
    text-align: left;
    margin-right: 50px;
}
.navbar-nav{
    margin-right: 30px;
}

/*================ Left SideBar ================*/
ul, li {
    list-style: none;
}
.sidebar {
    height: 100%;
    width: 200px;
    margin-top: 56px;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 200px;
    margin-top: 56px;
    z-index: 999;
    background-color: tomato;
    transition: all 0.3s;
}
.sidebar a {
    color: white;
    padding-bottom: 8px;
}
.sidebar a:hover {
    color: rgb(48, 111, 219);
    text-decoration: none;
}
.sidebar-title {
    font-size: 25px;
}
.bottom-sidebar {
    margin-top: 260px;
    padding-left: 10px;
    text-align: left;
    color: white;
}

/*================ Right SideBar ================*/
.xp-vertical {
    background-color: white;
    height: auto;
}
.xp-rightbar {
    overflow: hidden;
    min-height: 500px;
    margin-top: -80px;
    transition: all 0.3s ease;
}
.xp-contentbar {
    padding: 30px;
    margin-top: 60px;
}
.content {
    margin-left: 240px;
}
.right-content{
    height: 100%;
    background-color: rgba(49,248,111,0.04) ;
    padding-top: 55px;
    padding-left: 201px;
    font-family: sans-serif;
}




/*================ Right Content ================*/
.recipes-form {
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
}
.container-content{
    width: 100%;
    margin: 40px;
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.image{

    background: #50A7FF;
    position: relative;
    display: inline-block;
    justify-content: flex-start;
    flex: 20%;
    max-width: 300px;
    height: 220px;
    margin: 15px;
    overflow: hidden;
}
.image img{
    opacity: 0.8;
    position: relative;
    vertical-align: top;
    transition: 0.6s;
    transition-property: opacity;
}
.image:hover img{
    opacity: 1;
}
.image .details{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    width: 100%;
    height: 100%;
}
.image .details h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 70px;
    transition: 0.4s;
    transition-property: transform;
}
.image .details h2 span{
    font-weight: 900;
}
.image:hover .details h2{
    transform: translateY(-30px);
}
.image .details p{
    margin: 30px 30px 0 30px;
    font-size: 18px;
    font-weight: 500;
    opacity: 0;
    transition: 0.6s;
    transition-property: opacity, transform;
}
.image:hover .details p{
    opacity: 1;
    transform: translateY(-40px);
}
.more{
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    justify-content: space-between;
    padding: 5px;
    bottom: -60px;
    transition: 0.6s;
    transition-property: bottom;
}
.image:hover .more{
    bottom: 0;
}
.more{
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}
.more  span{
    font-weight: 900;
}
.more .icon-links i{
    color: #000;
    font-size: 20px;
}
.icon-links{
    text-align: center;
}
.more .icon-links a:not(:last-child) i{
    margin-right: 20px;
}

/* Responsive CSS */

/*@media (max-width: 1200px){
    .image{
        flex: 50%;
    }
}*/

/*@media (max-width: 400px){
    .image{
        flex: 100%;
    }
    .image .details p{
        font-size: 16px;
    }
    .more .read-more, .more .icon-links a i{
        font-size: 18px;
    }
}*/

/*================ Extra large devices (large laptops and desktops, 1200px and up) ================*/
@media (min-width: 1200px) {
    .image{
        flex: 50%;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
    .image{
        flex: 100%;
    }
}

/*================ Extra small devices (phones, 600px and down) ================*/
@media (max-width: 600px) {
    .image{
        flex: 100%;
    }
}

/*================ Medium devices (landscape tablets, 768px and up) ================*/
@media(min-width: 768px) {
    .image{
        flex: 100%;
    }
}
/*================ Small devices (portrait tablets and large phones, 600px and up) ================*/
@media(min-width: 600px) {
    .image{
        flex: 100%;
    }
}





